/*
@Project : zepto study guide
@Date    : 2015.11.13
@Author  : Shuang-li Han
@Declare : Built style for study zepto guide
*/

/* reset css */
body, div, span, h1, h2, h3, h4, p, pre,
abbr, address, cite, code, em, img,
ins, q, samp, strong, sub, sup, b, i,
dl, dt, dd, ol, ul, li, form, label,
table, tr, th, td, article, aside,
canvas, details, figcaption, figure,
footer, header, hgroup, nav, section, time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
	overflow: hidden;	
}

ul {
	list-style: none;
}

input, select {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #000
}

button, img {
	border: none;
	background-color: transparent;
}

/*globe css*/
html,
body {
	height: 100%;
}

body {
	font: 12px/1.5 "consolas", "\5FAE\8F6F\96C5\9ED1";
	-webkit-text-size-adjust: none;
}

code, pre {
	font-family: inherit;
}

code {
	margin: 0 3px;
}

pre {
	margin: 8px 0;
	padding: 1em;
	background-color: #f9f9f9;
	border: 1px solid #d0d0d0;
	box-shadow: 0 0 2px #d0d0d0;
}

pre span {
	color: #ac5820;
	font-family: inherit;
}

.clearfix {
	*zoom : 1;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}